body {
  margin: 0;
  min-width: 400px;
  font-family: Roboto, "Spoqa Han Sans Neo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
